<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <title>The Food Court</title>
</head>
<body>
    <div class="App">
        <header class="App-header">
            <img src="{% static 'food_court_logo.png' %}" class="App-logo"/>
            <h3>Reset Password</h3>
        </header>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="center">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>

<!-- <div class="container">
    <div class="row center">
        <div class="col l3 m1 s0"></div>
        <div class="col l6 m10 s12">
        <h3>Reset Password here!</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
                <div class="center">
                    <button type="submit" class="btn pink darken-3 center">Submit</button>
                </div>
            </form>
        </form>
        </div>
        <div class="col l3 m1 s0"></div>
    </div>
</div> -->
